
.writeForm {
    position: relative;
  }
  .write {
    padding-top: 50px;
  }
  .writeSubmit {
    position: absolute;
    padding: top 50px; ;
    top: 20px;
    right: 50px;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }